html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: Anton;
  color: #34A5DA;
  font-size: 52px;
  text-align: center;
}

textarea {
  resize: none;
}

@font-face {
  font-family: GistUpright;
  src: url(../assets/fonts/GistUpright.otf);
}

@font-face {
  font-family: Anton;
  src: url(../assets/fonts/Anton.ttf);
}

.site-container {
  display: flex;
  height: 100%;
}

/* Editor */

.editor {
  width: 40%;
  height: 100%;
  background: #444444;
  color: #F9F9F9;
  font-family: consolas;
}

.edit-area {
  margin: 10px 20px 20px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 250px);
  background: none;
  border: none;
}

.edit-area:focus {
  outline: none;
}

.validation {
  display: block;
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  text-align: right;
}

.text-success {
  color: #56F94D;
}

.text-failure {
  color: #FF0000;
}

/* Footer */

.footer {
  height: 96px;
  background: #565656;
  padding-top: 10px;
}

.btn {
  background: #949494;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  float: right;
}

.vertical-divider {
  height: 100%;
  margin: 0 10px;
}

.tutorial-buttons {
  width: 40%;
}

.tutorial-buttons .btn {
  width: 100%;
}

.edit-buttons {
  width: 60%;
}

.edit-buttons .btn {
  width: 31%;
}

.store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 10px;
}

.store input {
  width: calc(100% - 192px);
  border: 1px solid #444444;
  border-radius: 5px;
  background: #5f5e5e;
  color: white;
  outline-color: #34a5da;
}

.store .glyphicon {
  font-size: 1.25em;
}

.store .glyphicon:hover {
  cursor: pointer;
  color: #34a5da;
}

.store input {
  padding: 2px 5px 0;
}

.store input[disabled] {
  color: #a9a9a9;
  cursor: not-allowed;
}

/* TextAngular */

.ta-toolbar {
  display: none;
}

.edit-area .ta-text {
  height: 100%;
  background: transparent;
  border: none;
}

/* Visual */

.visual {
  width: 60%;
  height: 100%;
  background-image: url("../assets/images/stripes.png");
}

.visual-svg {
  width: 100%;
  height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* Settings Modal */

.modal-content {
  background: #444444;
  color: white;
  border-width: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.modal-footer {
  background: #565656;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
