<h1>CE EDITOR</h1>

<div id="editor" class="edit-area">
  <uib-accordion close-others="false">
    <lesson ng-if="lesson.passed || $index === currentLesson" ng-repeat="lesson in lessons track by $index" lesson="lesson"></lesson>
  </uib-accordion>
</div>

<div class="footer">
  <div class="buttons">
    <div ng-show="showTutorial" class="tutorial-buttons">
      <button class="btn" ng-click="resetTutorial()">Reset Tutorial</button>
      <button class="btn" ng-click="skipTutorial()">Skip Tutorial</button>
    </div>

    <!-- <span class="vertical-divider"></span> -->

    <div ng-show="!showTutorial" class="edit-buttons">
      <button class="btn" ng-click="update()" ng-disabled="!valid">Update</button>
      <button class="btn" ng-click="clear()">Clear</button>
      <button class="btn" ng-click="export()">Export</button>
    </div>
  </div>
  <div class="store">
    <span>Connected to CE-Store</span>
    <input ng-model="ceStore" disabled></input>
    <span class="glyphicon glyphicon-cog" ng-click="openSettings()" aria-hidden="true"></span>
  </div>
</div>

