<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Are you sure?</h3>
</div>
<div class="confirm-modal-body modal-body" id="modal-body">
  Doing this will reset your environment, are you sure you want to continue?
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="ok()">{{confirm}}</button>
  <button class="btn" type="button" ng-click="export()">Export</button>
  <button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>
